@font-face {
  font-family: 'Decima Bold';
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/Decima W01 Bold.eot");
    src: url("../fonts/Decima W01 Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Decima W01 Bold.woff") format("woff"),
    url("../fonts/Decima W01 Bold.ttf") format("truetype"),
    url("../fonts/Decima W01 Bold.svg#DecimaW01-Regular") format("svg");
}

@font-face {
  font-family: 'Decima Regular';
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/Decima W01 Regular.eot");
    src: url("../fonts/Decima W01 Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Decima W01 Regular.woff") format("woff"),
    url("../fonts/Decima W01 Regular.ttf") format("truetype"),
    url("../fonts/Decima W01 Regular.svg#DecimaW01-Regular") format("svg");
}

@font-face {
  font-family: 'Decima Light';
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/Decima W01 Light.eot");
    src: url("../fonts/Decima W01 Light.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Decima W01 Light.woff") format("woff"),
    url("../fonts/Decima W01 Light.ttf") format("truetype"),
    url("../fonts/Decima W01 Light.svg#DecimaW01-Regular") format("svg");
}