@font-face {
	font-family: 'Decima Bold';
	font-weight: normal;
	font-style: normal;
	src: url("../fonts/Decima W01 Bold.eot");
    src: url("../fonts/Decima W01 Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Decima W01 Bold.woff") format("woff"),
    url("../fonts/Decima W01 Bold.ttf") format("truetype"),
    url("../fonts/Decima W01 Bold.svg#DecimaW01-Regular") format("svg");
}

@font-face {
	font-family: 'Decima Regular';
	font-weight: normal;
	font-style: normal;
	src: url("../fonts/Decima W01 Regular.eot");
    src: url("../fonts/Decima W01 Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Decima W01 Regular.woff") format("woff"),
    url("../fonts/Decima W01 Regular.ttf") format("truetype"),
    url("../fonts/Decima W01 Regular.svg#DecimaW01-Regular") format("svg");
}

@font-face {
	font-family: 'Decima Light';
	font-weight: normal;
	font-style: normal;
	src: url("../fonts/Decima W01 Light.eot");
    src: url("../fonts/Decima W01 Light.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Decima W01 Light.woff") format("woff"),
    url("../fonts/Decima W01 Light.ttf") format("truetype"),
    url("../fonts/Decima W01 Light.svg#DecimaW01-Regular") format("svg");
}

body {
	padding: 0;
	background-color: #011118;
	background-image: linear-gradient(0deg, transparent 24%, rgba(0,191,165, .08) 25%, rgba(0,191,165, .08) 26%, transparent 27%, transparent 74%, rgba(0,191,165, .08) 75%, rgba(0,191,165, .08) 76%, transparent 77%, transparent), linear-gradient(90deg, transparent 24%, rgba(0,191,165, .08) 25%, rgba(0,191,165, .08) 26%, transparent 27%, transparent 74%, rgba(0,191,165, .08) 75%, rgba(0,191,165, .08) 76%, transparent 77%, transparent);;
	background-size: 70px 70px;

  font-family: "Decima Regular", Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 1;
}

.navbar {
	font-family: 'Decima Bold';
	border: none;
	background-color: black;
	opacity: 0.8;
	border-radius: 0;
	margin: 0;
	max-height: 45px;
}

.nav-brand {
  float: none;
}

.navbar-center {
  width: 100%;
  text-align: center;
}

.navbar-text.page-title {
  float: none;
  color: #459ABB;
  font-size: 16px;
  opacity: 0.75;
}

.page-title.selected {
	opacity: 1;
}

.player-container {
	padding: 0;
}

.path-container {
	padding: 0;
}

.header {
	margin: 0;
	padding-top: 3px;
	padding-bottom: 5px;

	display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;

  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.change-player-btn {
	opacity: 0.8;
  content: url('../imgs/change-player.svg');
}

.change-player-btn:hover,
.change-player-btn.selecting-player {
	opacity: 1;
	cursor: pointer;
}

.player-title {
	text-align: center;

  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;

  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;

  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
}

.player-title h1 {
  font-family: 'Decima Regular';
  font-size: 48px;
  opacity: 0.8;
	color: white;
	border: 0;
}

.player-title.selecting-player h1 {
	opacity: 0.32;
}

.change-player-container {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;

  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;

  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  justify-content: flex-start;
}

.offdef-tgl-group {
	padding: 0;

  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;

  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;

  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  -ms-justify-content: flex-end;
  justify-content: flex-end;
}

.offdef-tgl-group.selecting-player {
	opacity: 0.32;
}

.offdef-tgl-btn {
	font-family: 'Decima Bold';
	font-size: 16px;
	color: rgba(255,255,255,0.4);
	line-height: 1;
	padding: 9px 13px 6px 13px;
	text-align: center;
	border: 1px #979797 solid;
	opacity: 0.9;
}

.offdef-tgl-btn:hover {
	cursor: pointer;
	background-color: rgba(255,255,255, 0.7);
	color: white;
}

.offdef-tgl-btn.tgl-selected {
	background-color: rgba(255,255,255, 0.33);
	color: #FFF;
}

.main-content {
	margin: 0;
}

.court-container {
	padding: 0;
	position: relative;
	text-align: center;
}

.court-interactives {
	position: absolute;
}

.court-grid,
.court-canvas {
	vertical-align: top;
	position: absolute;
	shape-rendering: crispEdges;
}

.court-grid {
	z-index: 1;
}

.court-load-overlay {
	background-color: #000;
	opacity: 0.7;
}

rect.trav-box {
	stroke-width: 0;
	stroke: white;
	fill-opacity: 0;
}

.court-grid:hover .trav-box.selected {
	stroke-width: 3;
	stroke: #D81A00;
}

.trav-box.hovered {
	stroke-width: 3;
	cursor: pointer;
}

.trav-box.tooltip-highlight,
.court-grid:hover .trav-box.tooltip-highlight:hover  {
	stroke-width: 3;
	stroke: #FFD671;
}

.tooltip-instructions {
	position: absolute;
	white-space: nowrap;
	background-color: #327894;
	padding: 20px;
}

.tooltip-instructions:after {
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(50, 120, 148, 0);
	border-right-color: #327894;
	border-width: 15px;
	margin-top: -15px;
}

.tooltip-txt {
	color: white;
	font-size: 20px;
}

.court-background-container {
	vertical-align: top;
	display: inline-block;
}

.court-background {
	background: url('../imgs/fullcourt.svg');
	background-color: #021B26;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	box-shadow: 0 0 2000px 0px #1C4456;
}

.basket {
	position: absolute;
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.basket.offense-court {
	background: url('../imgs/offense-basket.svg');
}

.basket.defense-court {
	background: url('../imgs/defense-basket.svg');
}

.player-select-container {
	display: inline-block;
	text-align: left;
	background-color: #1D4657;
	box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
	padding: 25px 60px 30px 60px;
}

.search-filters {
	margin: 0;
	padding-bottom: 20px;
}

.search-bar {
	vertical-align: middle;
	margin-right: 20px;
	line-height: normal;
	background-color: #1D4657;
	font-family: 'Decima Regular';
	font-size: 18px;
	color: white;
	border: none;
	border-bottom: 2px #50BDEA solid;
	opacity: 0.8;
}

.search-bar::-webkit-input-placeholder {
	color: gray;
  text-shadow: none;
  -webkit-text-fill-color: initial;
}

.search-bar:focus {
	outline: none;
}

.position-tgl-group {
	vertical-align: top;
	box-shadow: 0 1px 2px 0 #000;
}

.btn.position-tgl-btn {
	padding: 5px 20px 1px 20px;
	border: none;
	border-radius: 0;
	font-family: 'Decima Regular';
	font-size: 14px;
	background-color: #BFBFBF;
	opacity: 0.8;
}

.btn.position-tgl-btn:focus {
	outline: none;
}

.btn.position-tgl-btn:hover,
.btn.position-tgl-btn.active {
	color: white;
	background-color: #638694;
}

.selection-container-padding {
	padding: 20px;
	box-shadow: 0 2px 8px 0 rgba(0,0,0,0.5);
	background-color: #327894;
}

.selection-container {
	overflow-y: auto;
	overflow-x: hidden;
}

.selection-container::-webkit-scrollbar {
	width: 10px;
	background-color: rgba(255,255,255,0.7);
}

.selection-container::-webkit-scrollbar-thumb {
	background-color: #44A2C9;
}

.team-container {
	padding-bottom: 20px;
	line-height: 2;
}

.team-name {
	padding-left: 12px; 
	font-family: 'Decima Bold';
	font-size: 18px;
	color: rgba(255,255,255,0.7);
}

.team-name:hover {
	cursor: default;
}

.player-name {
	padding-left: 12px;
	margin-right: 15px;
	font-family: 'Decima Regular';
	font-size: 16px;
}

.player-name:hover {
	background-color: rgba(255,255,255,0.7);
	box-shadow: 0 1px 2px 0 #000;
	cursor: pointer;
}

.stats-container {
	position: relative;
	padding-top: 25px;
	margin: 0;
	color: #FFF;
	opacity: 0.8;
}

.stats-container.selecting-player {
	opacity: 0.32;
}

.stats-group {
	width: 21%;
	padding: 0;
	text-align: center;
	opacity: 0.8;
}

.stats-num {
	padding-top: 13px;
	font-family: 'Decima Bold';
	font-size: 34px;
}

.stats-txt {
	font-family: 'Decima Light';
	font-size: 18px;
	line-height: 1;
}

.histogram-container {
	width: 58%;
	padding: 0;
	text-align: center;
}

.axis path, .axis line {
  fill: none;
	stroke: #D8D8D8;
  shape-rendering: crispEdges;
}

.histogram .tick text {
	font-family: 'Decima Light';
	font-size: 14px;
}

.hist-bar {
	fill: #D8D8D8;
	shape-rendering: crispEdges;
}

.histogram text {
	fill: white;
	opacity: 0.8;
}

.load-overlay {
  position: absolute;
  left: 0px;
  top: 0px;
  width:100%;
  height:100%;
  text-align:center;
  z-index: 1000;
  background-color: rgba(0,0,0,0.7);
 }

 .load-dialog {
 	position: absolute;
 	top: 50%;
 	left: 50%;
 	transform: translate(-50%, -50%);
 	background-color: #327894;
 }

 .load-dialog .dialog-header {
 	padding: 110px 200px 70px 200px;
 	color: rgba(255,255,255,0.95);
 	font-family: 'Decima BOLD';
 	font-size: 48px;
 }

.load-dialog .dialog-body {
	padding-bottom: 70px;
	color: rgba(255,255,255,0.8);
	font-size: 20px;
	line-height: 2;
}

.load-dialog .dialog-footer {
	padding: 30px 45px 30px 0;
	background-color: #1D4657;
	text-align: right;
}

.dialog-footer .dialog-close-btn {
	color: rgba(255,255,255,0.8);
	font-family: 'Decima Bold';
	font-size: 24px;
	background-color: transparent;
	border: none;
	border-radius: 0;
	padding-left: 20px;
	padding-right: 20px;
}

.dialog-footer .dialog-close-btn:hover {
	color: black;
	background-color: rgba(255,255,255,0.7);
	box-shadow: 0 2px 4px 0 #000;
	cursor: pointer;
}

.loader-spiral {
  animation: rotate 2s linear infinite;
  transform-origin: center center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

@keyframes rotate {
 100%{
  transform: rotate(360deg);
 }
}

.loader-path {
	stroke: rgba(255,255,255,0.8);
  stroke-dasharray: 1,200;
  stroke-dashoffset: 0;
  animation: dash 1.5s ease-in-out infinite;
}

@keyframes dash {
 0% {
  stroke-dasharray: 1,200;
  stroke-dashoffset: 0;
 }
 50% {
  stroke-dasharray: 89,200;
  stroke-dashoffset: -35px;
 }
 100% {
  stroke-dasharray: 89,200;
  stroke-dashoffset: -124px;
 }
}
