.modal-overlay {
  background-color: rgba(0,0,0,0.7);
  height: 100%;
  left: 0px;
  position: fixed;
  text-align: center;
  top: 0px;
  width: 100%;
  z-index: 1000;
 }

.modal-dialog {
  background-color: #327894;
  left: 50%;
  position: absolute;
  top: 50%;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 830px;
 }

.modal-dialog .dialog-header {
  color: rgba(255,255,255,0.95);
  font: 2.4em 'Decima Bold';
  padding-top: 80px;
 }

.modal-dialog .dialog-body {
  color: rgba(255,255,255,0.8);
  font-size: 1.33em;
  padding: 60px 57px 50px 57px;
}

.dialog-body p {
  line-height: 1.6;
  padding: 0.5em 0 0.5em 0;
}

.decima-bold {
  font-family: 'Decima Bold';
}

.modal-dialog .dialog-footer {
  background-color: #1D4657;
  padding: 25px 45px 25px 0;
  text-align: right;
}

.dialog-footer .dialog-close-btn {
  background-color: transparent;
  border: none;
  border-radius: 0;
  color: rgba(255,255,255,0.8);
  font: 1.6em 'Decima Bold';
  padding-left: 20px;
  padding-right: 20px;
}

.dialog-footer .dialog-close-btn:hover {
  background-color: rgba(255,255,255,0.7);
  box-shadow: 0 2px 4px 0 #000;
  color: black;
  cursor: pointer;
}

.dialog-footer .dialog-close-btn:focus {
  outline: none;
}
